<link rel="import" href="/local/custom_ui/floorplan/ha-floorplan.html" async>
<dom-module id="ha-panel-floorplans">

  <template>
    <style include="ha-style">
    iron-pages {
        height: 100%;
        vertical-align: top;
        position: relative;
      }

      [hidden] {
        display: none !important;
      }

    paper-tabs {
        margin-left: 12px;
        --paper-tabs-selection-bar-color: #FFF;
        text-transform: uppercase;
      }
    </style>

    <app-header-layout has-scrolling-region id='layout'>
     <app-header effects="waterfall" condenses fixed slot="header">
        <app-toolbar hidden$='{{!showAppToolbar}}'>
          <ha-menu-button narrow='[[narrow]]' show-menu='[[showMenu]]'></ha-menu-button>
          <div main-title>[[panel.title]]</div>
        </app-toolbar>

        <div sticky>
          <paper-tabs
            scrollable
      selected='{{selected}}'
          >
      <template is='dom-repeat' items='[[floorplans]]'>
              <paper-tab>
                <template is='dom-if' if='[[item.icon]]'>
                  <iron-icon title$='[[item.name]]' icon='[[item.icon]]'></iron-icon>
                </template>
                <template is='dom-if' if='[[!item.icon]]'>
                  [[item.name]]
                </template>
              </paper-tab>
            </template>
    </paper-tabs>
        </div>
      </app-header>

    <iron-pages
        selected='{{selected}}'
      >

        <template is='dom-repeat' items='[[floorplans]]'>
      <div class="container">
        <ha-floorplan hass=[[hass]] config=[[item.config]] is-panel></ha-floorplan>
      </div>
    </template>

      </iron-pages>
        </app-header-layout>


  </template>

</dom-module>

<script>
  Polymer({
    is: 'ha-panel-floorplans',

    properties: {
      hass: {
        type: Object,
      },
      narrow: {
        type: Boolean,
        value: false,
      },
      showMenu: {
        type: Boolean,
        value: true,
      },
      showAppToolbar: {
        type: Boolean,
        value: false,
      },
      panel: {
        type: Object,
        observer: 'panelChanged',
      },
    floorplans: {
    type: Array,
    },
    selected: {
    type: Number,
    value: 0,
      }
    },

    panelChanged: function() {
      var hideAppToolbar = ((this.panel.config.hide_app_toolbar === null) ||
        (this.panel.config.hide_app_toolbar !== undefined));
      this.showAppToolbar = !hideAppToolbar;
    this.floorplans = this.panel.config.floorplans;
    },

  });

</script>
