body {
  background: #383C45;
}

svg {
  width: 100%;
}
svg .state {
  opacity: 0;
  display: none;
  pointer-events: none;
}
svg .light-on #Oval {
  fill: #ffffff;
}
svg .light-on path {
  fill: #000000;
}
svg .state-on {
  opacity: 1;
  display: block;
  pointer-events: none;
}
